.hero > img {
    width: 35%;
    float: left;
}

.hero p {
    text-align: justify;
}

.hero button {
    padding: 5px 10px;
    margin: 0;
}

.toc-list, .toc-list ol {
  list-style-type: none;
}

.toc-list {
  padding: 0;
}

.toc-list ol {
  padding-inline-start: 2ch;
}

p {
    text-align: left;
}

.tc ol li {
    list-style: upper-roman;
}

li ol li:not(.tc) {
    list-style-type: lower-roman;
    text-align: right;
}

.tc {
    padding: 14px 16px;
    border: 1px solid grey;
    box-shadow: inset 0 0 7px 1px grey;
    margin: 0;
}

.tc a {
    color: black !important;
    text-decoration: dotted underline;
    text-underline-offset: 2.5px;
    text-decoration-color: rgb(184, 184, 184);
}

.tc a:hover {
    transition: all 500ms;
    text-decoration-color: black !important;
}

.tc a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    float: left;
    width: 100%;
}

.page {
    display: flex;
}

.tc a::after{
    content: "\00a0";
    flex-grow: 1;
    float: left;
    border-bottom: 1px dotted black;
    margin: 0 8px;
    cursor: default;
    transform: translateY(-7px);
}

.tc a:visited {
    text-decoration-color: purple;
}

.return {
    background-color: black;
    padding: 10px 16px;
    transition: 500ms;
}

.return:hover {
    transition: 500ms;
    cursor: pointer;
    border: 1px solid black;
    background-color: transparent;
    color: black
}

.article-title {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: black;
    margin: 0;
}